@import '../../index';

.chart {
    max-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;

    &__title {
        color: $white;
        margin: 0;

        @media(max-width: 991px) {
            text-align: center;
        }
    }
}