@import '../../index';

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: auto;
    padding: 30px 0;

    &__link {
        text-decoration: none;

        span {
            color: $gray-800;
            font-size: 14px;
            margin-left: 10px;
        }

        img {
            width: 20px;
            height: auto;
        }

        &:hover {
            span {
                color: $white
            }
        }
    }
}