//--------------------------//
// Variables
//--------------------------//

// Colors
$white: #ffffff;
$black: #000000;

$bg-color: #1f1f1f;
// $primary-color: ;
// $secondary-color: ;

$gray-800: #888;

// Transitions